@font-face {
    font-family: "Playfair_Display";
    src: url("PlayfairDisplay.ttf");
}

header {
    height: 100%;
    margin: 0;
}

main {
 margin: 0 auto;
 padding: 0;
}

.small-carousel {
    margin: auto;
    width: 25em;
    height: 25em;
}

/* Dropdown settings */

.dropbtn {
    padding: 10px;
    background-color: black;
    color: rgb(63, 63, 245);
    border: none;
    margin: 0;
}

.dropbtn i {
    font-size: larger;
    transition: color .3s ease;
}

.dropbtn i:hover {
    color: white
}

.dropdown {
    display: flex;
    align-self: center;
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

/* Dropdown settings */

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: rgb(50, 50, 54) solid 1px;
}

.shopping-cart {
    display: flex;
    justify-content: end;
    align-self: center;
    padding: 10px;
}

.shopping-cart i {
    font-size: larger;
    color: rgb(63, 63, 245);
    transition: color .3s ease;
}

.shopping-cart i:hover {
    color: rgb(255, 255, 255);
}

.main-menu {
    font-weight: lighter;
    margin: 3px;
}

.main-menu li {
    display: inline;
    margin: 10px;
}

.main-menu a {
    text-align: start;
    margin-right: 3em;
    padding: 0.4em;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color .3s ease;
    font-size: medium;
}

.main-menu a:hover {
    color: rgb(63, 63, 245);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 10px;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 2em;
}

.container {
    padding: 0.25em 0;
}

.store-row {
    background-color: black;
    margin: 0.25em;
}

p.info {
    color: gainsboro;
    padding: 1em;
}

.my-footer {
    display: flex;
    background-color: rgb(50, 50, 54);
    width: auto;
    align-content: flex-end;
    flex-wrap: wrap;

}

.footer-menu img {
    width: 30px;
}

i.fa-soundcloud {
   margin-top: 5px;
   
}

.footer-menu i {
    margin: 5px 6px 10px;
    transition: color .3s ease;
}

.footer-menu i:hover {
    color: #4b508e;

}

.footer-menu a {
    color: black;
}

ul.footer-menu  {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

h3.social {
    color: white;
    display: flex;
    align-self: center;
    padding: 10px;
    margin-bottom: 0;
}

body {
    background-attachment: fixed;
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    background-color: black;
}

body.sign-in {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-color: white;
}

img.w-100 {
    background-size: contain;
}

h2.fw-bold {
    color: black;
}

.text-center p {
    color: black;
}

.text-center {
    margin-bottom: 15px;
}

.card {
    border: 0;
}

.col-md-4 {
    margin: 10px 0 20px 0;
}

i.bi-arrow-left {
    margin: 0 8px 0;
    padding-top: 18px;
}

a.text-body :hover {
    color: rgb(63, 63, 245);
}

a:not([href]):not([class]){
    color: white;    
}

a:not([href]):not([class]):hover {
    color: rgb(63, 63, 245);
}